<!--
NOTICE

This software was produced for the U. S. Government
under Contract No. FA8702-13-C-0001, and is
subject to the Rights in Noncommercial Computer Software
and Noncommercial Computer Software Documentation Clause (DFARS) 252.227-7014 (JUN 1995)

 2013 The MITRE Corporation. All Rights Reserved. 
-->
<ul class="nav nav-list">
	<li class="nav-header">{{t user.account}}</li>
	<li>{{#linkTo "users.show" FlexiconEmber.Auth.user}}<i class="icon-user"></i>&nbsp;{{t user.view}}{{/linkTo}}</li>
	<li>{{#linkTo "users.edit" FlexiconEmber.Auth.user}}<i class="icon-edit"></i>&nbsp;{{t user.edit}}{{/linkTo}}</li>
	<li class="divider"></li>
	<form>
		<button class="btn btn-small btn-danger"><i class="icon-signout"></i>&nbsp;{{t user.logout}}</button>
	</form>
</ul>