<!--
NOTICE

This software was produced for the U. S. Government
under Contract No. FA8702-13-C-0001, and is
subject to the Rights in Noncommercial Computer Software
and Noncommercial Computer Software Documentation Clause (DFARS) 252.227-7014 (JUN 1995)

 2013 The MITRE Corporation. All Rights Reserved. 
-->
<div class="well">
	<h1>Welcome to the Flexicon!</h1>
	<p>
		This web-based, collaborative, multi-lingual lexicon allows its community of users to collectively document, share, and comprehend any dynamic vocabularies it encounters.
	</p>
</div>
<div class="text-info">
	<h4>The Flexicon provides a multitude of benefits, such as:</h4>
</div>
<dl class="dl-horizontal">
	<dt>Term Comments</dt>
	<dd>Users can comment on any <strong>term</strong> in the <span class="text-info">Flexicon</span>. This promotes discussion and collaboration among knowledgeable people, which can improve the quality of those terms.</dd>
	<dt>Contribution Voting</dt>
	<dd>Users can vote on any <strong>definition</strong> in the <span class="text-info">Flexicon</span>, thus providing a measure of peer-reviewed reliability. Users can also vote on 		<strong>comments</strong>. This allows the community to judge the quality of discussion contributions.
	</dd>
	<dt>Submission Timeline</dt>
	<dd>
		The <span class="text-info">Flexicon</span> records the time at which any <strong>definition</strong> is entered by a user. This helps users contextualize a term's meaning based on when different associations came into use.
	</dd>
	<dt>User History</dt>
	<dd>
		When you view a <strong>definition</strong> or a <strong>comment</strong>, you will see who submitted that item. You can view any user's profile to see further details about the user. Included in that information is an overview of the user's submission and voting histories. 
	</dd>
	<dt>User Karma</dt>
	<dd>
		Finally, the <span class="text-info">Flexicon</span> displays the user's <strong>comment</strong> and <strong>definition</strong> karma. This information can provide insight as to how accurate and relevant the community has found the user's contributions.
	</dd>
</dl>